* {
    margin: 0;
    padding: 0;
}


/* Estilos da página anime.html*/

body{ 
    background-image: url("/fundamentos-web/assets/img/dia.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    font-family: "Sofia", sans-serif;
    text-align: center; 
    font-size: 20px ;
}



